<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{currentUserInstagram.profile_picture_url}}" alt="">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{currentUserInstagram.full_name}}</mat-card-title>
    <mat-card-subtitle>{{currentUserInstagram.biography}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   <div class="container">
    <div class="section">{{currentUserInstagram.number_published_posts + '  публикаций'}}</div>
    <div class="section">{{currentUserInstagram.number_followers + '  подписчиков'}}</div>
    <div class="section">{{currentUserInstagram.number_follows + '  подписок'}}</div>
   </div>
    <div class="container">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-subtitle>Контактная информация: {{currentUserInstagram.external_link}}</mat-card-subtitle>
  </mat-card-footer>
</mat-card>
