<div class="layout" fxLayout="column" fxLayout.xs="column" fxFlexFill>


  <div class="header">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a href="/login" mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </mat-toolbar>
  </div>


  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="side" fxFlex="25" fxFlex.xs="25">
      <mat-selection-list [multiple]="false">
        <div mat-subheader>User Accounts</div>

        <mat-list-option [selected]="selectedUserAccount == account.id" (click)="setUserAccount(account.id);" *ngFor="let account of userAccounts">
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>{{account.username}}</div>
          <div mat-line> {{account.type}} </div>
        </mat-list-option >
        <mat-divider></mat-divider>
      </mat-selection-list>

      <mat-list>
        <div mat-subheader>History</div>
        <mat-list-item *ngFor="let worker of userWorkers">
          <div mat-line>{{worker.job}}</div>
          <div mat-line> {{worker.created_at | date}} </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="container" fxFlex="75">
      <router-outlet></router-outlet>
    </div>
  </div>


  <div class="footer">
    Footer
  </div>


</div>
