<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="created_at">Created At:</label>
      <input type="text" formControlName="created_at" placeholder="Created At" name="created_at" class="form-control" id="created_at">
    </div>

    <div class="form-group">
      <label for="updated_at">Updated At:</label>
      <input type="text" formControlName="updated_at" placeholder="Updated At" name="updated_at" class="form-control" id="updated_at">
    </div>

    <!--<button class="btn btn-success">Update</button>-->
  </form>
</div>
