<div class="container">
  <div class="row">
    <div *ngIf="this.currentUser" class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <p><strong>Name:</strong> {{this.currentUser.name}}</p>
      <p><strong>Email:</strong> {{this.currentUser.email}}</p>

    </div>
  </div>
  <div class="row">
    <mat-card [value]="account" *ngFor="let account of currentUserAccounts" class="col-md-4">
      <mat-card-header>
        <mat-card-title>{{account.username}}</mat-card-title>
        <mat-card-subtitle>{{account.type}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{account.username}}</p>
        <p>{{account.password}}</p>
        <p>{{account.created_at}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" mat-raised-button  routerLink="/account/{{account.username}}" routerLinkActive="active">Change</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="row">
    <ol>
<!--      <li>-->
<!--        <mat-form-field>-->
<!--          <mat-label>What's your name?</mat-label>-->
<!--          <input matInput [(ngModel)]="name">-->
<!--        </mat-form-field>-->
<!--      </li>-->
      <li>
        <button mat-raised-button (click)="openDialog()">Pick one</button>
      </li>
    </ol>
  </div>

</div>
