<div class="container">
  <div class="row">
    <div *ngIf="this.currentUser" class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <p><strong>Name:</strong> {{this.currentUser.name}}</p>
      <p><strong>Email:</strong> {{this.currentUser.email}}</p>

    </div>
  </div>
  <div class="row">
    <mat-card [value]="account" *ngFor="let account of currentUserAccounts" class="example-card col-md-3">
      <mat-card-header>
        <mat-card-title>{{account.username}}</mat-card-title>
        <mat-card-subtitle>{{account.type}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{account.username}}</p>
        <p>{{account.password}}</p>
        <p>{{account.created_at}}</p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="row">
    <app-form></app-form>
  </div>
  <div class="row">
    <app-modal-window-component></app-modal-window-component>
  </div>
</div>
