<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="this.currentUser" class="inner-main">
        <h1>Добро пожаловать, {{this.currentUser.name}}</h1>
        <p>Для продолжения выберите один из ваших аккаунтов или добавьте новый.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button (click)="openDialog()" color="primary"><mat-icon aria-hidden="false" aria-label="Add new">add</mat-icon> Добавить новый</button>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-12">
      <h2>Список ваших аккаунтов</h2>
    </div>
    <div *ngFor="let account of currentUserAccounts" class="col-md-3">
      <mat-card matRipple routerLink="/account/{{account.username}}" class="card-account">
        <mat-card-header>
          <mat-card-title>{{account.username}}</mat-card-title>
          <mat-card-subtitle>{{account.type}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
